html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'EB Garamond', serif;
  font-size: 24px;
}

body.hoverable .map-embed {
  pointer-events: all;
}

h1, h2, h3 {
  font-weight: 400;
  text-align: center;
}

h1 {
  font-size: 80px;
  margin: 0;
}

h2 {
  font-size: 50px;
  margin: -5px 0 45px 0;
}

h3 {
  font-size: 32px;
  margin: 0 0 24px 0;
}

p {
  line-height: 1.4em;
  text-align: center;
  margin: 10px auto 30px auto;
  max-width: 500px;
}

a {
  border-bottom: 2px dotted rgba(0, 0, 0, 0.12);
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li {
  margin: 0 0 10px 0;
  padding: 0;
}

.italic {
  font-style: italic;
}

.full-width {
  border-top: 2px solid rgba(0, 0, 0, 0.03);
  width: 100%;
}

.down {
  opacity: 0.7;
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  animation: animationFrames ease-out 2.5s;
  animation-iteration-count: infinite;
}

.down svg {
  height: auto;
  width: 40px;
}

@keyframes animationFrames{
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.container {
  /* IE10+ */ 
  background-image: -ms-linear-gradient(top, rgba(202, 212, 221, 0.98) 0%, rgba(255, 255, 255, 0.98) 100%);
  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, rgba(202, 212, 221, 0.98) 0%, rgba(255, 255, 255, 0.98) 100%);
  /* Opera */ 
  background-image: -o-linear-gradient(top, rgba(202, 212, 221, 0.98) 0%, rgba(255, 255, 255, 0.98) 100%);
  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(202, 212, 221, 0.98)), color-stop(100, rgba(255, 255, 255, 0.98)));
  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(top, rgba(202, 212, 221, 0.98) 0%, rgba(255, 255, 255, 0.98) 100%);
  /* W3C Markup */ 
  background-image: linear-gradient(to bottom, rgba(202, 212, 221, 0.98) 0%, rgba(255, 255, 255, 0.98) 100%);

  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 2;
}

.content {
  margin: 0 auto;
  max-width: 760px;
  padding: 60px 20px;
}

.content p:first-child {
  margin-top: 0;
}

.content p:last-child {
  margin-bottom: 0;
}

.jokes a {
  border-bottom: none;
}

.map-embed {
  border: none;
  height: 400px;
  margin: 0 auto;
  pointer-events: none;
  width: 100%;
}

.-logo {
  float: left;
  height: 180px;
  width: 23%;
  margin: 0 1%;
  position: relative;
  text-align: center;
}

.-logo img {
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.monster img {
  opacity: 0.6;
  width: 40%;
}

.rockstar img {
  opacity: 0.6;
  width: 70%;
}

.redbull img {
  width: 80%;
}

.qt img {
  opacity: 0.8;
  width: 40%;
}

.cf:after {
    content:"";
    display:table;
    clear:both;
}

@media screen and (min-width: 1200px) {
  body {
    background-image: url('../img/stonehenge-large.jpg');
  }
}

@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 1.5),
       screen and (min-width: 1200px) and (min-resolution: 150dpi) {
  body {
    background-image: url('../img/stonehenge-extra-large.jpg');
  }    
}

@media screen and (max-width: 1199px) {
  body {
    background-image: url('../img/stonehenge-medium.jpg');
  }
  body.touch {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: url('../img/stonehenge-small.jpg');
    background-position: center top;
    background-size: auto 70%;
    font-size: 20px;
  }
  body.touch {
    background-attachment: scroll;
  }

  .down {
    display: none;
  }

  h1 {
    font-size: 50px;
    margin: 0;
  }

  h2 {
    font-size: 35px;
    margin: -5px 0 20px 0;
  }

  .container {
    top: 69%;
  }

  .content {
    padding: 35px 15px;
  }

  .content.-intro {
    padding-top: 20px;
  }

  p { 
    margin-bottom: 25px;
  }

  .-logo {
    height: 140px;
    width: 48%;
    text-align: center;
  }
}